@import "coupon.css";
* {
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.header img {
    width: 100%;
    height: 27vh;
}

.main {
    display: flex;
    justify-content: space-between;
}
.cart {
    width: 50%;
    height: auto;
    padding: 5%;
    margin: 2%;
}
.coupon {
    width: 45%;
    border-left: 1px solid lightgray;
    background-color: rgb(248, 248, 248);
    height: auto;
    padding: 5%;
}
.cls {
    font-size: 0.8571428571em;
    color: #737373;
}
.contact-info {
    display: flex;
    justify-content: space-between;
}
.contact-info h2, .shipping-info h2 {
    color: #333333;
    font-size: 1.2857142857em;
    font-weight: normal;
}
.contact-info p {
    color: #545454;
}
.input {
    padding: 2%;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 5%;
    margin: 5px;
}
#line1, #line2 {
    font-weight: 300;
    font-size: smaller;
    margin: 3%;
    color: #545454;
}
.shipping-info {
    margin: 5% 0px;
}
.name-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    gap: 2%;
}
.name-input input {
    padding: 2%;
    width: 50%;
    border: 1px solid #d9d9d9;
    border-radius: 5%;
}
.state {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px;
    gap: 1%;
}
.state input {
    padding: 2%;
    width: 30%;
    border: 1px solid #d9d9d9;
    border-radius: 5%;
}
.flex {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}
.flex p {
    font-size: 14px;
    color: #475d4b;
    
}
#btn {
    background-color: #475d4b;
    border: 1px transparent solid;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    padding: 1.4em 1.7em;
    text-align: center;
    cursor: pointer;
}
hr {
    border: 0.5px solid lightgray;
}
.footer {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.footer p {
    color: #475d4b;
    font-size: 0.8em;
}
