/* ----------srtopbar section------- */
@import 'navbar.css';
#sortbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 0.5rem;
}
#sortbar>div{
    display:flex;
    align-items:center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#3b3232d9;
}
#arrow{
    height:30px;
    width:30px;
    margin-right:10px;
}
 #pro_select{
    height:30px;
    width:auto;
    margin-left: 10px;
    
} 
#pro_select>option{
    font-family: sans-serif;
    font-size: 15px;
}
/* --------close---------- */

/* ----totla div---- */
#mycontainer{
    display:flex;
    margin:auto;
    padding:0.6rem;
}

/* sidebar div */

#sidebar{
    height:500px;
    width:18%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
#Categories{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:left;
    padding-left:30px;
}
#menu-list{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    font-size:16px;
    padding-left:30px;
    
}
li{
    margin-bottom: 18px;
    transition:.6s;
}
li:hover a{
padding-left:14px;
}
a{
text-decoration:none;
color:black;
}
a:hover{

color:rgb(165, 55, 73);
text-decoration:underline;
}

/* ----------Side section close------ */


/* -------products container section---- */


#products_container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    width:100%;
    row-gap: 4rem;
    column-gap:1.5rem;
    font-family: 'Segoe UI';
}
#items_div{
    padding:8px;
    border-radius:10px;
    height:490px;
    position: relative;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
}
#bestsellimg{
    position: absolute;
    height:45px;
    width:170px;
    top:0px;
    left:0px;
    border: 1px solid white; 
}
.itemsimg{
    height:290px;
    width:100%;
    text-align:center;
    opacity:1;
    
    /* border:1px solid red; */
}
.itemsimg:hover{
    cursor: pointer;
    opacity:0.6;
}
.addtocart{
    font-family: 'Arial Narrow Bold', sans-serif;
    color:white;
    background-color:#475D48;
    border:none;
    border-radius: 18px;
    font-size:20px;
    width:100%;
    height:45px;
    text-align:center;
    position:absolute;
    bottom:10px;
    left:0px;
}
.addtocart:hover{
    cursor: pointer;
}
#descritpion{
    font-size: 15px;
    color:rgb(20, 18, 18);
    margin-top: -10px;
}

#costdiv{
    display:flex;
    text-align:center;
    margin-top:-20px;
}
#strikecosts{
    text-decoration: line-through;
    color:rgb(51, 49, 49);
}