#box14 {
    height: auto;
    width: 100%;
    display: flex;
    gap: 180px;
    margin: auto;
    margin-top: 70px;
    background-color: #e0e7df;
}

#box14Inner {
    height: auto;
    width: 85%;
    display: flex;
    gap: 100px;
    margin: auto;
    margin-top: 70px;
    background-color: #e0e7df;
}

hr {
    width: 100px;
    margin-left: 0px;
}

#box14Inner2>p {
    text-align: left;
}

#box14Inner3>p {
    text-align: left;
}

#box14Inner4>p {
    text-align: left;
}

#box14Inner5>p {
    text-align: left;
}

input {
    display: block;
    width: 300px;
    height: 30px;
}

button {
    height: 35px;
    width: 130px;
    font-size: 15px;
    margin-top: 10px;
    background-color: rgb(26,46,24);
    color: white;
    border: 0mm;
}

.hovering:hover {
    color: #3ab33a;
    cursor: pointer;

}

.hovering1:hover {
    border: 2px solid #3ab33a
}

#lastBox {
    height: 50px;
    width: auto;
}

#lastBoxInner {
    height: 50px;
    width: auto;
    display: flex;
    text-align: center;
    justify-content: space-around;
    background-color: rgb(26, 46, 24);
}

#LastBoxImg {
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 3%;
    margin-left: 10px;
    margin-top: 5px;
}

#lastBoxInner>div>img {
    width: 300px;
    margin-top: 10px;

}

#LastBoxText {
    margin-top: 10px;
    margin-left: 60px;
    color: bisque;
}

#LastBoxText:hover {
    color: black;
    cursor: pointer;
}

body {
    box-sizing: border-box;
}